@media screen and (max-width: 800px) {
  .page__content {
    max-width: 700px;
  }

  .profile__title {
    font-size: 30px;
    line-height: 32px;
    max-width: 255px;
  }

  .profile__description {
    font-size: 16px;
    line-height: 22px;
    max-width: 255px;
  }

  .profile__add-button {
    width: 100px;
  }

  .profile__edit-button {
    height: 20px;
    width: 20px;
  }
}
