.profile {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: max-content max-content;
  grid-template-rows: auto auto;
  gap: 10px 18px;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  background: transparent url(../images/edit_button_vector.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #ffff;
  grid-area: button;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__description {
  grid-area: description;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__add-button {
  background: transparent url(../images/add_button_vector.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #ffff;
  padding: 0;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__title {
    font-size: 30px;
    line-height: 32px;
    max-width: 255px;
  }

  .profile__description {
    font-size: 16px;
    line-height: 22px;
    max-width: 255px;
  }

  .profile__add-button {
    width: 100px;
  }

  .profile__edit-button {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    margin: 30px 0 36px;
    gap: 14px 10px;
    justify-items: center;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    max-width: 196px;
  }

  .profile__add-button {
    width: 100%;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
